<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projeto_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DetalhesPedido" android:label="Detalhes Pedido"></activity>
        <activity
            android:name=".PedidosEfetuados"
            android:label="Pedidos Efetuados" />
        <activity
            android:name=".PedidoAssistencia"
            android:label="Pedido de assistência" />
        <activity
            android:name=".MenuUtilizador"
            android:label="Menu" />
        <activity
            android:name=".PerfilCliente"
            android:label="Perfil" />
        <activity
            android:name=".registar"
            android:label="@string/registar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>